*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    color: white;
    background-color: #06131F;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

header img{
    width: 40px;
    height: 40px;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
}

.background-dark{
    background-color: #1D2D3C;
    height: 100vh;
}

ul{
    margin-top: 5rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1200px;
    margin-inline: auto;
    gap: 1rem;
    padding-inline: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem; 
}

li{
    flex: 0 0 calc(33% - 1rem);
    height: 350px;
    background-color: #112030;
    text-align: center;
    border-radius: 5px;
}

.card{  
    color: white;
    border-radius: 5px;
    padding-top: 2rem;
    padding-inline: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

picture{
    width: 196px;
    height: 196px;
}

.picture img{
    width: 196px;
    width: 196px;
}